//base.scss
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body,
button,
input,
select,
textarea {
	color: $black;
	font-weight: 400;
	font-family: $font-body;
	font-size: 16.25px;
	line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}
h1 { font-size: 42px; line-height: 40px; }
h2 { font-size: 38px; line-height: 36px; }
h3 { font-size: 30px; line-height: 32px; }
h4 { font-size: 26px; line-height: 28px; }
h5 { font-size: 20px; line-height: 24px; }
h6 { font-size: 16.25px; line-height: 20px; }
p {
	font-size: 16.25px;
	font-weight: 400;
	color: $black;
}

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
b,
strong {
	font-weight: 600;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
    color: $black;
    font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $gray;
	font-family: Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: white9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul,
ol {
	margin: 0 0 1.5em 3em;
    font-size: 16.25px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; 
	max-width: 100%; 
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}
textarea { height: 200px;}
a {
	color: $black;
    transition: all 300ms ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: darken($black,7%);
}

/*--------------------------------------------------------------
Buttons, Inputs, Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	line-height: 1.5em;
    font-size: 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $gray;
	border-radius: 0;
	background-color: $white;
	box-shadow: none;
	color: $black;
	cursor: pointer;
	-webkit-appearance: button; 
	font-size: 1.1em;
	line-height: 1;
	font-family: $font-body;
	font-weight: inherit;
	margin: 20px 0;
	padding: 12px 25px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
	text-shadow: none;
	text-transform: uppercase;
	float: right;
	min-width: 160px;
	
	&:hover, &:focus, &:active {
		border-color: darken($gray,20%);
		color: darken($gray,20%);
		background-color: darken($white,20%);
	}
	
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="search"], textarea {
	background: white;
	&:focus {
		background: $lightgray;
		border-color: darken($gray,20%);
	}
}
select {width: 100%;}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; 
	margin-right: 10px;
}
input[type="search"] {
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { 
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
select {
	width: 100%;
	color: $gray;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 10px;
	transition: border 0.3s ease-in-out;
	
	&:focus {
		color: $black;
		outline: 0;
		border: 1px solid $maroon;
	}
}
select {
    height: 48px;
    background: $white;
}
//contact & donate forms
.contact,
.donate {
	input[type="submit"] {
		width: 100%;
		margin-top: 5px;
	}
	
	p {
		margin: 2px 0;
	}
}

textarea {
	width: 100%;
	overflow: auto; 
	padding-left: 3px;
	vertical-align: top; 
}

/* buttons */
.button {
	position: relative;
    z-index: 3001;
    display: inline-block;
    margin: 20px 0;
    padding: 9px 25px;
    min-width: 260px;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}
/*primary, blue bg, white text, no border*/
.button.primary,
.button.blue {
	background: $maroon;
	color: white;
	border: none;
	text-decoration: none;
	&:hover, &:focus {
		background: darken($maroon,7%);
		color: darken(white,7%);
		border: none;
		text-decoration: none;
	}
}
/*smoke, smoke bg, maroon text, no border, looks nice on colored bg*/
.button.smoke {
	background: $smoke;
	color: $black;
	border: none;
	&:hover, &:focus {
		background: darken($smoke,7%);
		color: darken($black,7%);
		border: none;
		text-decoration: none;
	}
}
/*gold, white bg, gold text, no border, looks nice on colored bg or bg with image overlay*/
.button.gold {
	background: white;
	color: $gold;
	border: none;
	&:hover, &:focus {
		background: $maroon;
		color: white;
		border: none;
		text-decoration: none;
	}
}
/*transparent, transparent bg, blue text, blue border*/
.button.transparent {
	background: transparent;
	color: white;
	border: 2px solid $gold;
	&:hover, &:focus {
		color: $gold;
		border: 2px solid white;
		text-decoration: none;
	}
}
/*transparent, transparent bg w/ border*/
.button.transparent.border {
	background: transparent;
	color: $gray;
	border: 2px solid $gray;
	text-decoration: none;
	&:hover, &:focus {
		color: $gold;
		border: 2px solid $black;
		text-decoration: none;
	}
}
/*white, white bg, maroon text, no border*/
.button.white {
	background: white;
	color: $maroon;
	border: none;
	&:hover, &:focus {
		background: darken($maroon,7%);
		color: darken(white,7%);
		text-decoration: none;
	}
}
/*button for mobile with arrow*/
.button.mobile {
	background: white;
	color: $black;
	border: 2px solid rgba($gray,0.25);
	text-align: left;
	font-size: 0.9em;
	text-transform: capitalize;
	&:hover, &:focus {
		background: darken($smoke,5%);
		color: $black;
		border-color: rgba($gray,0.25);
		text-decoration: none;
	}
	&:after {
		content: '\f101';
	    font-family: fontAwesome;
	    font-size: 1em;
	    position: absolute;
	    top: 12px;
	    right: 20px;
	    color: $maroon;
	}
}
/*register button sidbar*/
.button.register,
.button.gold {
	background: $gold;
	color: white;
	text-decoration: none;
	&:hover, &:focus {
		background: $maroon;
		color: white;
		text-decoration: none;
	}
	li {
		color: white;
		margin: 0;
		padding: 0;
		font-size: 0.85em;
		border-bottom: none;
		&:after {
			content: '';
		}
	}
}
.button.register {margin: 0;}


.button.full {
	margin: 15px 0;
	
	&:first-of-type {
		margin-top: 0;
	}
}

.button.cal {
  display: block;
  width: 100%;
  min-width: 100%;
  z-index: 1;
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 1em;
    border-bottom: 2px solid $lightgray;
    margin: 1em auto 1.5em auto;
    max-width: 97%;
}
