// Colors
//brand colors
$maroon: #5D0101; //mjpaa red
$smoke: #fbfbfb;
$lightgray: #eaeaea; //mostly for borders
$gray: #555;
$hr: #eaeaea;
$black: #1F1F1F;
$gold: #AE8648;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato|100,300,400,500,700');

$font-heading: 'Open Sans', serif, Arial;
$font-body: 'Lato', Helvetica, Arial;

// Vendors
@import "vendor/reset";
@import "vendor/bootstrap.grid";
@import "vendor/bootstrap.modal";
@import "vendor/font-awesome";

// Layout
@import "wp";
@import "layout";
@import "responsive";