// Colors
//brand colors
$maroon: #5D0101; //mjpaa red
$smoke: #fbfbfb;
$lightgray: #eaeaea; //mostly for borders
$gray: #555;
$hr: #eaeaea;
$black: #212121;
$gold: #AE8648;
$white: #fff;

// Typography
@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|100,300,400,500,600');

$font-heading: 'Merriweather', serif, Arial;
$font-body: 'PT Sans', Helvetica, Arial;

// Vendors
@import "vendor/reset";
@import "vendor/bootstrap.grid";
@import "vendor/bootstrap.modal";
@import "vendor/font-awesome";

// Layout
@import "wp";
@import "base";
@import "layout";
@import "plugin-ai1ec";
@import "responsive";